@{
    ViewData["Title"] = "Thêm khách hàng";
}
<h3>Thêm khách hàng</h3>
<form action="/Cau1/ThemHanhKhach" method="post">
    Mã hành khách <input type="text" name="Mahk"/><br />
    Tên hành khách <input type="text" name="HoTen" /><br />
    Địa chỉ <input type="text" name="DiaChi" /><br />
    Điện thoại <input type="text" name="DienThoai" /><br />
    <input type="submit" name="themkh" value="Thêm" />
</form>